<div class="jumbotron text-center">
  <h1 class="display-2">Divforce</h1>
  <hr/>
  <div class="btn-group-vertical">
    <%= link_to 'Employers', employers_path, class: 'btn btn-primary' %>
    <p></p>
    <%= link_to 'Recruiters', recruiters_path, class: 'btn btn-primary' %>
  </div>
</div>