<p id="notice"><%= notice %></p>

<h1>Reqs</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @reqs.each do |req| %>
      <tr>
        <td><%= link_to req.title, req %></td>
        <td><%= req.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Req', new_req_path, class: 'btn btn-primary' %>
