@import "bootstrap";

#notice {
  color: green;
  font-weight: bold;
  padding: 0.5em;
}

.section-divider {
  border-top-width: thick;
}

.field label {
  font-weight: bold;
}

.col textarea {
  width: 40em;
}

.actions {
  margin-bottom: 0.2em;
}
